page-store {

 button.acctlinks {
    margin-top: 5px;
    background-color: #323232;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    color: #FFFFFF;
    padding: 10px;
 }
 
 .chain_bg {
 
    /*background-color: #D6D6D6;*/
 
 }
 
 .readonly_fld {
   color: #CCC;
 }

}
